@page "/servers"
@page "/servers/back_from/{CityName}"
@using StateStore


@rendermode InteractiveServer

@inject NavigationManager _navigationManager
@inject TorontoOnlineServersStore _torontoOnlineServersStore

<h3>Servers</h3>
<br/>
<br/>

<CityListComponent @ref="cityListComponent" SelectCityCallback="HandleCitySelection" selectedCity="@this.selectedCity"></CityListComponent>


<br />


<br />

<SearchServersComponent @ref="searchServersComponent" SearchServerCallBack="HandleSearchServer"></SearchServersComponent>

<CascadingValue Name="SelectedCity" Value="@selectedCity">
	<ServerListComponent CityName="@this.selectedCity" SearchFilter="@searchFilter" @rendermode="InteractiveServer"></ServerListComponent>

</CascadingValue>




<p>
	<a href="/servername" class="btn btn-primary">Add Server</a>
</p>




@code {
	[Parameter]
	public string? CityName { get; set; }
	private string selectedCity = "Toronto";

	private string searchFilter = "";

	private CityListComponent? cityListComponent;
	private SearchServersComponent? searchServersComponent;

	private void HandleCitySelection(string cityName)
	{
		selectedCity = cityName;
		this.searchFilter = "";
		searchServersComponent?.ClearFilter();
	}

	private void HandleSearchServer(string searchFilter)
	{
		// selectedCity = searchFilter ?? "Toronto";
		this.searchFilter = searchFilter;

		cityListComponent?.ClearSelection();
	}

	protected override void OnAfterRender(bool firstRender)
	{
		if (firstRender)
		{
			if(_navigationManager.Uri.Contains("back_from") && !string.IsNullOrWhiteSpace(CityName))
			{
				selectedCity = CityName;
				StateHasChanged();
			}

			var serversToronto = ServersRepository.GetServersByCity("Toronto");
			if(serversToronto is not null)
			{
				_torontoOnlineServersStore.SetNumberServersOnline(serversToronto.Count(x => x.IsOnline));
			}
		}
		// base.OnAfterRender(firstRender);
	}
}
